.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.txt
*.dcf
RefactorAndRisk.Rproj
BackupScripts*
DATA/*.csv
DATA/*.tar
DATA/*.csv.icloud
DATA/DATA
tests/shinytest/*-current/
DEVELOPMENT/
CACHE/
BACKUPS/
UNDER\ LOCAL\ GIT\ CONTROL/
