.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.txt
*.dcf
RefactorAndRisk.Rproj
BackupScripts*
DATA/*.csv
DATA/*.csv.icloud
DATA/*.sh
DATA/*.tar
DATA/ARCHIVE
DATA/ClipDates
DATA/DATA
DATA/STATIC2
DATA/STATIC3
DATA/STATIC/*.numbers
tests/shinytest/*-current/
tests/shinytest/updateTables*
DEVELOPMENT/scratchPaper.txt
DEVELOPMENT/Tests20210728.R
DEVELOPMENT/TODO_updateStateDataFiles.R
CACHE/
BACKUPS/
UNDER\ LOCAL\ GIT\ CONTROL/
